html,
body {
  margin: 0;
  padding: 0;
}
html body,
body body {
  background: linear-gradient(#d5d5eb, #fff) fixed;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  color: #000;
  text-decoration: none;
  box-sizing: border-box;
}
.wrapper {
  width: 1200px;
  position: absolute;
  top: 55px;
  left: 200px;
}
.wrapper .header {
  height: 45px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 200px;
}
.wrapper .header .search {
  display: inline-flex;
  margin: auto 15px;
}
.wrapper .header .search .search-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.wrapper .header .search input {
  height: 20px;
  width: 400px;
  border: none;
  color: #888;
}
.wrapper .header .search input:focus {
  outline: none;
  box-shadow: 5px 0 14px rgba(0, 0, 0, 0.22), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.wrapper .header .but-head {
  display: inline-flex;
  justify-content: space-between;
}
.wrapper .header .but-head .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.wrapper .header .but-head .ring {
  padding-left: 10px;
  padding-right: 5px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  cursor: pointer;
}
.wrapper .header .but-head .text-buttn {
  line-height: 1.8;
  color: #888;
}
.wrapper .header .but-head .buttn {
  display: inline-flex;
  margin: auto 10px;
}
.wrapper .header .but-head .buttn .caret {
  margin: auto 10px;
  cursor: pointer;
}
.wrapper .header .but-head .buttn .user-name {
  margin: auto 5px;
  color: #888;
}
.wrapper .header .but-head .ring {
  position: relative;
}
.wrapper .header .but-head .drop-menu {
  position: absolute;
  top: 33px;
  left: -280px;
  box-shadow: 5px 0 14px rgba(0, 0, 0, 0.22), 0 5px 5px rgba(0, 0, 0, 0.22);
  width: max-content;
  background-color: #fff;
  padding: 30px 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.wrapper .header .but-head .drop-menu.active {
  opacity: 1;
  visibility: visible;
}
.wrapper .header .but-head .drop-menu .drop-tittle {
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #777;
  border-bottom: 1px solid #999;
  text-transform: capitalize;
}
.wrapper .header .but-head .drop-menu .drop-link {
  color: #0c0caa;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  display: block;
}
.wrapper .header .but-head .drop-menu .item {
  display: flex;
  border-bottom: 1px solid #999;
  padding: 10px 3px;
}
.wrapper .header .but-head .drop-menu .item .item-avatar {
  width: 40px;
  height: auto;
  border-radius: 100%;
  margin-right: 5px;
}
.wrapper .header .but-head .drop-menu .item .incom-mess {
  color: #777;
  font-size: 12px;
}
.wrapper .header .but-head .drop-menu .item .incom-mess .name {
  font-weight: bold;
}
.wrapper .header .but-head .drop-menu .item .mess-time {
  font-size: 12px;
  color: #777;
}
.wrapper .header .but-head .avatar {
  width: 30px;
  height: auto;
  border-radius: 50%;
}
.wrapper .menu {
  width: 200px;
  background-color: #43425d;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.wrapper .menu .menu-name {
  background-color: #3b3b53;
  width: 100%;
  height: 50px;
  position: relative;
}
.wrapper .menu .title {
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  left: 30px;
  color: #e8e8eb;
  font-weight: bold;
  line-height: 1.8;
  font-size: 18px;
}
.wrapper .menu .menu-bar .menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.wrapper .menu .menu-bar .menu-item .item {
  display: flex;
  margin-left: 10px;
}
.wrapper .menu .menu-bar {
  position: relative;
  height: 100%;
}
.wrapper .menu .menu-bar .menu-text {
  color: #e8e8eb;
  font-size: 16px;
}
.wrapper .menu .menu-bar .item {
  padding: 10px;
}
.wrapper .menu .menu-bar .menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper .menu .menu-bar .setting-menu {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
}
.wrapper .menu .menu-bar .setting-menu .setting {
  display: flex;
}
.wrapper .menu .menu-bar .setting-menu .setting:last-child {
  border-top: 1px solid rgba(91, 91, 94, 0.849);
  cursor: pointer;
}
.wrapper .content {
  width: 80%px;
  margin-left: 50px;
}
.wrapper .content .tittle {
  text-transform: uppercase;
  color: #43425d;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.wrapper .content .table {
  padding: 15px;
  background-color: #fff;
  width: 80% ;
  display: block;
}
.wrapper .content .table .table-tittle {
  text-transform: capitalize;
  color: #888;
  margin-top: 15px;
  font-size: 20px;
}
.wrapper .content .table .referrer {
  background-color: #fff;
  border-spacing: 0px;
  text-align: center;
  table-layout: fixed;
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.wrapper .content .table .referrer tr {
  font-size: 16px;
  line-height: 1.8;
  color: #777;
}
.wrapper .content .table .referrer td {
  border-bottom: 1px solid #f5f6fa;
}
.wrapper .content .table .referrer th {
  font-size: 18px;
  color: #9c9ea8;
  text-transform: uppercase;
  background-color: #f5f6fa;
}
.wrapper .content .table .table-link {
  display: block;
  margin-top: 10px;
  text-transform: capitalize;
  color: #0c0caa;
  font-size: 16px;
}
