html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  color: #000;
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wrapper .header {
  height: 40px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
}
.wrapper .header .search {
  display: inline-flex;
  margin: auto 0;
}
.wrapper .header .search .search-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.wrapper .header .search input {
  height: 20px;
  width: 400px;
  border: none;
  color: #888;
}
.wrapper .header .search input:focus {
  outline: none;
  box-shadow: 5px 0 14px rgba(0, 0, 0, 0.22), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.wrapper .header .but-head {
  display: inline-flex;
  justify-content: space-between;
}
.wrapper .header .but-head .icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.wrapper .header .but-head .ring {
  padding-left: 10px;
  padding-right: 5px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}
.wrapper .header .but-head .text-buttn {
  line-height: 1.8;
  color: #888;
}
.wrapper .header .but-head .buttn {
  display: inline-flex;
  margin: auto 10px;
}
.wrapper .header .but-head .buttn .caret {
  margin: auto 10px;
}
.wrapper .header .but-head .buttn .user-name {
  margin: auto 5px;
  color: #888;
}
.wrapper .header .but-head .avatar {
  width: 30px;
  height: auto;
  border-radius: 50%;
}
